<div>
    <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0">Notifications</span>
</div>

<div>
    <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>

<div>
    <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>

<div>
    <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

<hr>

<div>
    <span matBadge="5" matBadgeSize="small" matBadgeColor="primary">Notifications</span>
</div>

<div>
    <span matBadge="5" matBadgeSize="medium" matBadgeColor="accent">Notifications</span>
</div>

<div>
    <span matBadge="5" matBadgeSize="large" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>