<div>
    <button mat-button>Hello World</button>
    <button mat-raised-button>Hello World</button>
    <button mat-flat-button>Hello World</button>
    <button mat-stroked-button>Hello World</button>
</div>

<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Minifab</button>
</div>

<div>
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>Accent</button>
    <button color="warn" mat-button>Warn</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div>