@use '@angular/material' as mat;
@import '~@angular/material/theming';
@include mat-core();

//@import 'indigo-pink';
@import 'theme1';
//@import 'theme2';

$light-theme: mat-light-theme((
    color: (
        primary: $primary,
        accent: $accent,
        warn: $warn
    )
));

$dark-theme: mat-dark-theme((
    color: (
        primary: $primary,
        accent: $accent,
        warn: $warn
    )
));

@include mat.all-component-themes($light-theme);

.darkMode {
    @include mat.all-component-colors($dark-theme);
}

// Palette generator:
// http://mcg.mbitson.com/