<div>
    <mat-button-toggle #toggleBtn checked>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
</div>

<div>
    <mat-button-toggle #toggleBtn2 checked disableRipple>Toggle</mat-button-toggle>
    {{toggleBtn2.checked}}
</div>

<div>
    <mat-button-toggle #toggleBtn3 checked disabled>Toggle</mat-button-toggle>
    {{toggleBtn3.checked}}
</div>

<div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>